@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap");

html {
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-type: Y mandatory;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100 !important;
  font-family: "Hind", sans-serif;
}

body {
  color: #f9f9f9;
  background-color: #040714;
  /* background: url("./Images/disneybody.png")center/cover no-repeat; */
}
